.Main Game {
	color: magenta;
	font-stretch: normal;
	font-variant: normal;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	background-image: CardImage/Mainworld;
}
.BigMeassage {
	color: red;
	font-size: xx-large;
	text-align: center;
}
.score {
	color: dodgerblue;
	font-size: x-large;
	text-align: center;
	text-decoration: underline overline blink;
}
.label {
	color: deepskyblue;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.gwt-Button {
	color: dodgerblue;
	font-size: 18px;
	font-weight: 900;
	background-color: darkred;
}
board {
	margin: 1px;
	background-color: forestgreen;
}
