/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
<<<<<<< HEAD
.win {
	font-size: 57px;
	text-decoration: underline;
	background-color: White;
}
Playagain_button {
	font-size: 36px;
	text-decoration: blink;
	background-color: Yellow;
	background-image: none;
=======
h1 {
	color: blueviolet;
	margin: 40px 0px 70px;
	font-stretch: normal;
	font-size: 36em;
	font-style: italic;
	font-weight: 500;
	text-align: center;
	text-decoration: underline overline line-through blink;
}
.h1 {
>>>>>>> refs/remotes/sam/master
}


