.Main Game {
	color: magenta;
	font-stretch: normal;
	font-variant: normal;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-decoration: underline overline blink;
	background-color: navajowhite;
	background-image: CardImage/Mainworld;
}
.BigMeassage {
	color: red;
	font-size: xx-large;
	text-align: center;
}
.score {
	color: dodgerblue;
	font-size: x-large;
	text-align: center;
	text-decoration: underline overline blink;
}
